<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageRestore>
        <add key="enabled" value="True" />
        <add key="automatic" value="False" />
    </packageRestore>
    <packageSources>
        <add key="General" value="http://nuget.primaverabss.com:82/nuget/General" />
        <add key="Hydrogen" value="http://nuget.primaverabss.com:82/nuget/Hydrogen" />
        <add key="Lithium" value="http://nuget.primaverabss.com:82/nuget/Lithium/" />
        <add key="IdentityServer" value="http://nuget.primaverabss.com:82/nuget/IdentityServer/" />
        <add key="NuGet" value="http://api.nuget.org/v3/index.json" protocolVersion="3" />
    </packageSources>
    <activePackageSource>
        <add key="All" value="(Aggregate source)" />
    </activePackageSource>
    <config>
        <add key="globalPackagesFolder" value=".\_packages" />
        <add key="dependencyVersion" value="HighestPatch" />
    </config>
</configuration>